@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-primary-second: #162e6b;
  --color-primary-bg-alt: #9bb3f4;
  --color-primary-light: #e5ecff;
  --color-border: #6D8FEF;
  --color-input-bg: #f2f5ff;
  --color-bg-alt2: #c8c8c8;
  --color-stroke-alt: #c8c8c8;
  --color-disabled: #9ca3af;
  --color-table-bg: #fafafa;
  --color-success: #2e7d32;
  --color-warning: #f9a825;
  
  --color-error: #d32f2f;
  --color-error-light: #ffebee;
  --color-success-light: #e8f5e8;
  --color-warning-light: #fff8e1;
  --color-text-primary: #3a3a3a;
  --color-text-secondary: #757575;
  --color-text-inverse: #ffffff;
  --color-text-light: #a6a6a6;
  --color-background: #f8fafc;
  --color-background-hover: #f1f5f9;
  --font-poppins: "Poppins", sans-serif;
}

:root {
  font-family: var(--font-poppins);
}


/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e1e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #688beca8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #688bec88;
}